<%# Universal partial for displaying validation errors for any model%>
<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead buffer-bottom">
      In your form <%= errors.count %> errors
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <% errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>