/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/*
have some issue with @import "node_modules/bootstrap/scss/bootstrap" path:
File to import not found or unreadable: node_modules/bootstrap/scss/bootstrap.
just added few ../ to the beginning
*/
@import "../../../node_modules/bootstrap/scss/bootstrap";

/* Font */
body {
  font-family: "Trebuchet MS";
}

h1, h2 {
  margin-top: 20px;
}

/* Errors */
.errors_list {
  list-style-type: none;
}

.errors_list ul {
  margin-left: 0;
  padding-left: 0;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 25px;
  width: auto;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 12px 12px;
}